<div class="container">
  <div class="center_align">
    <h2><%= @contact.name %></h2>
    <p><%= @contact.email %></p>
     <p><%= @contact.message %></p>
    <p>Received at <%=   time_ago_in_words(@contact.created_at) %> ago</p>
         <%= link_to "Back",contacts_path,class:"btn btn-primary"%>
   </div>
</div>
